@import '../../commonScss/common.scss';

@font-face {
    font-family: noise;
    src: url('../../../public/font/Nosifer.ttf');
}

.warDiv {
    @include commonStyle(relative,100%,100%);
    overflow: hidden;
}

.warDiv[data-darker="false"]{
    &::after{
        content: '';
        position: absolute;
        @include commonLocation(0,0,0,0);
        background-color: rgba(0, 0, 0,0);
        transition: 1.5s;
        z-index: 3;
    }
}
.warDiv[data-darker="true"]{
    &::after{
        content: '';
        position: absolute;
        @include commonLocation(0,0,0,0);
        background-color: rgba(0, 0, 0,0.5);
        transition: 1.5s;
        z-index: 3;
    }
}

.warVideo {
    @include commonStyle(absolute,100%,100%);
    background-color: $gblack;
    object-fit: cover;
    transition: 2.5s;
    z-index: 2;
}
.warVideo[data-darker="true"]{
    transform: scale(1.2);
    filter: blur(8px);
}
.warVideo[data-darker="false"]{
    transform: scale(1);
    filter: blur(0px);
}




.title {
    @include commonStyle(relative,100%,0);
    top: 150px;
    text-align: center;
    font-family: noise;
    transition: 1s;
    z-index: 10;
}
.title[data-darker="true"]{
    font-size: 8vh;
    color: whitesmoke;
    letter-spacing: 1.2vh;
    text-shadow: 5px 5px 2px brown;
}
.title[data-darker="false"]{
    font-size: 6vh;
    color: $ggreen;
    letter-spacing: 1vh;
    text-shadow: 8px 8px 8px $gblack;
}

.login {
    @include commonStyle(absolute,450px,250px);
    @include commonLocation(0,0,auto,100px);
    margin: auto;
    border-radius: 15px;
    transform: scale(0.2);
    transition: 1s;
    z-index: 10;
    &::after {
        content: 'BETA';
        color: $ggreen;
        text-align: center;
        font-family: noise;
        font-weight: bolder;
        font-size: 0;
        position: absolute;
        @include commonLocation(0,0,0,0);
        z-index: 10;
        background-color: $gwrite;
        border: {
            radius: 20%;
            width: 100px;
            style: solid;
        }
        border-color:$ggreen;
        filter: blur(5px);
        transition: 1s;
    }
    &:hover {
        &::after {
            border-radius: 15px;
            font-size: 2vh;
            filter: blur(0);
            transform: scale(1);
            background-color: fade-out($gwrite,0.8);
            border: 1px solid fade-out($gblack,1);
            z-index: -1;
        }
        transform: scale(1);
    }
}

.head {
    @include commonStyle(relative,100%,80px);
    text-align: center;
    top: 50px;
    color: $gwrite;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 2px $gblack;
    font-weight: bolder;
    font-size: $gfontSize_norm;
    img {
        height: 80px;
        width: auto;
        border-radius: 50%;
    }
}
.startbut{
    @include commonStyle(relative,100%,50px);
    border-radius: 10px;
    top: 25px;
    button {
        position: relative;
        width: 200px;
        display: inline-block;
        background-color: $ggreen;
        height: 100%;
        border: none;
        cursor: pointer;
        filter: url('#gooey');
        &:last-child {
            font-size: $gfontSize_large;
            font-weight: bolder;
            font-family: noise;
            text-shadow: 4px 4px 4px $gwrite;
            color: $gblack;
            // transition: 0.5s;
            &:hover{
                text-shadow: 4px 4px 4px $gblack;
                color: $gwrite;
                background-color: maroon;
                .bubble{
                    background-color: maroon;
                }
            }
        }
    }
}

.svg{
    position: absolute;
    display: block;
}
.bubbles{
    position: absolute;
    @include commonLocation(0,0,0,0);
}
$leftList:80% 35% 45% 20% 15% 25% 70% 60% 5% 55% 55%;
//自定义bubblenthchild样式
@mixin bubbleChild($leftList){
    @for $i from 1 through 10 {
        &:nth-child(#{$i}){
            left: nth($leftList, $i);
            animation: #{'move'+$i} #{(3+($i - 1)*0.02)}s infinite;
            animation-delay: #{$i*0.2}s;
        }
    }
}
.bubble{
    @include commonStyle(absolute,20px,20px);
    top: 0;
    left: 0;
    display: block;
    background-color: $ggreen;
    border-radius: 100%;
    @include bubbleChild($leftList);
}

//定义move动画
@mixin moveKeyFrames($moveList) {
    @for $i from 1 through 10 {
        @include keyframes('move'+$i){
            0%{
                transform: translate(0,0);
            }
            99%{
                transform: translate(0,nth($moveList,$i));
            }
            100%{
                transform: translate(0,0);
                opacity: 0;
            }
        }
    }
}

// 动画move参数
$moveList:-105px,-95px,-60px,-90px,-95px,-65px,-110px,-85px,-80px,-125px;
//引用动画move
@include moveKeyFrames($moveList);







