@import '../../commonScss/common.scss';


.main{
    @include commonStyle(relative,100%,100%);
    background-color: fade-out($gblack, 0);
    overflow: hidden;
}

.bacPic{
    @include commonStyle(absolute,100%,100%);
    object-fit: cover;
    opacity: 1;
    animation: blurs 2s forwards ease-in-out;
}
.bacPic[data-change=true]{
    animation: opacityChange 0.5s forwards linear;
}





.darker{
    @include commonStyle(absolute,100%,100%);
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 2;
}

.circleMain{
    @include commonStyle(absolute,15vh,15vh);
    @include commonLocation(0,0,0,0);
    background-color: rgba(0, 0, 0, 0.0);
    margin: auto;
    transition: 1.2s;
    z-index: 4;
    cursor: pointer;
}
.circleMain[data-click=true]{
    background-color: rgba(255,255,255,0.7);
    border-radius: 50% ;
    border: 5px dashed black ;
    box-shadow: 10px 10px 100px 1500px rgba(0, 0, 0, 0.55);
    animation: circle 1s linear infinite both;
    &:hover{
        background-color: black;
        border: 5px dashed white ;
        animation: circleHover 8s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite reverse;
    }
}
.circleMain[data-click=false]{
    background-color: black ;
    border-radius: 0;
    border: 5px solid white ;
    box-shadow: 10px 10px 100px 15px white;
    animation: defaultHover 100s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
    &:hover{
        border: 10px double white ;
    }
}










@include keyframes(opacityChange){
    0%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@include keyframes(blurs){
    0%{
        filter: blur(0);
    }
    50%{
        filter: blur(4px);
    }
    100%{
        filter: blur(2px);
    }
}

@include keyframes(circle){
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
@include keyframes(circleHover){
    0%{
        transform: rotate(0) scale(1.2);
    }
    100%{
        transform: rotate(360deg) scale(1.2);
    }
}

@include keyframes(circleHover){
    @for $i from 0 through 20 {
        #{$i * 5}%{
            transform: rotate($i*15+deg);
        }
    }
}

@include keyframes(defaultHover){
    @for $i from 0 through 100 {
        #{$i}%{
            transform: rotate($i*14.4+deg);
        }
    }
}

@include keyframes(circleHover){
    @for $i from 0 through 20 {
        #{$i * 5}%{
            transform: rotate($i*15+deg);
        }
    }
}
}