@import '../../commonScss/common.scss';
@include scrollbar;

.body {
    // @include commonLocation(0, 0, 0, 0);
    // margin: auto;
    left: 250px;
    top: 150px;
    background-color: #2f3640;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    z-index: 100;
    animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.body[data-isRightShow=true][data-isleftshow=true]{
    @include commonStyle(absolute, 950px, 520px);
}
.body[data-isRightShow=false][data-isleftshow=true]{
    @include commonStyle(absolute, 600px, 520px);
}
.body[data-isRightShow=true][data-isleftshow=false]{
    @include commonStyle(absolute, 350px, 520px);
}

.iframe{
    border-radius:15px;
    border: 2px solid #718093;
}
.left {
    @include commonStyle(relative, 600px, 98%);
    margin: 5px;
    border-radius:15px;
    
    > :nth-of-type(1) {
        @include commonStyle(relative, 100%, 320px);
        border-radius:15px;
        // overflow: hidden;
        // border: 2px solid #718093;
    }

    > :nth-of-type(2) {
        @include commonStyle(relative, 100%, 30px);
        margin-top: 14px;
        font-size: 22px;
        letter-spacing: 6px;
        font-weight: bolder;
        text-align: center;
        span{
            color: whitesmoke;
            cursor: default;
            padding: 5px;
            padding-left: 40px;
            padding-right: 35px;
            @include commonStyle(relative, auto, 30px);
            background-color: #353b48;
            border: 2px solid #718093;
            border-radius: 100px;
            transition: 0.2s;
        }
    }

    > :nth-of-type(3) {
        @include commonStyle(relative, 100%, 132.5px);
        background-color: #353b48;
        border: 2px solid #718093;
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 20px;
        overflow:hidden;
        &:hover{
            overflow:auto;
        }
        > span {
            background-color:fade-out(black,0.8);
            @include commonStyle(relative, auto, auto);
            color: white;
            margin: 5px;
            padding: 8px;
            float: left;
            transition: 0.2s;
            border-radius: 10px;
            &:hover {
                cursor: default;
                background-color: snow;
                color: black;
            }
        }
    }
}
.left[data-isleftshow=false]{
    display: none;
}
.left[data-isleftshow=true]{
    display: block;
}

.rightShowBut{
    @include commonStyle(absolute, 40px,30px);
    font-size: 40px;
    font-weight: bolder;
    border: 0;
    background-color: rgba(0,0,0,0);
    transition: 0.2s;
    cursor: pointer;
}
.rightShowBut[data-isRightShow=true] {
    transform: rotate(0);
    top: -5px;
    right: 0;
    color: snow;
    -webkit-text-stroke: 3px fade-out(seagreen, 0);

    &:hover {
        top: -5px;
        right: -5px;
        transform: rotate(45deg);
        color: red;
        -webkit-text-stroke: 3px fade-out(snow, 0);
    }
}
.rightShowBut[data-isRightShow=false]{
    top: -5px;
    right: -5px;
    transform: rotate(45deg);
    color: red;
    -webkit-text-stroke:3px fade-out(snow, 0);
    &:hover{
        transform: rotate(0);
        top: -10px;
        right: 0;
        color: snow;
        -webkit-text-stroke:3px fade-out(seagreen, 0);
    }
}

.leftShowBut{
    @include commonStyle(absolute, 40px,30px);
    z-index: 10;
    font-size: 40px;
    font-weight: bolder;
    border: 0;
    background-color: rgba(0,0,0,0);
    transition: 0.2s;
    cursor: pointer;
}
.leftShowBut[data-isleftshow=true] {
    transform: rotate(0);
    top: -2px;
    left: 5px;
    color: snow;
    -webkit-text-stroke: 3px fade-out(seagreen, 0);

    &:hover {
        top: 0;
        left: 10px;
        transform: rotate(45deg);
        color: red;
        -webkit-text-stroke: 3px fade-out(snow, 0);
    }
}
.leftShowBut[data-isleftshow=false]{
    top: 0px;
    right: 10px;
    transform: rotate(45deg);
    color: red;
    -webkit-text-stroke:3px fade-out(snow, 0);
    &:hover{
        transform: rotate(0);
        top: -2px;
        right: 5px;
        color: snow;
        -webkit-text-stroke:3px fade-out(seagreen, 0);
    }
}
.leftshowTitle{
    left: 15px;
    font-size: 18px;
    top: -2px;
    transition: 0.22s;
}
.leftshowTitle[data-isleftshow=false]{
    opacity: 0;

}
.leftshowTitle[data-isleftshow=true]{
    opacity: 1;
}



.right {
    @include commonStyle(relative, auto, 93.5%);
    flex: 1;
    margin: 5px;
    padding: 10px;
    padding-right: 8px;
    line-height: 180%;
    letter-spacing: 1px;
    text-align:justify;
    border: 2px solid #718093;
    background-color: #353b48;
    font-size: 14px;
    // font-weight: 500;
    text-indent: 2em;
    overflow: auto;
    overflow-x: hidden;
    border-radius:15px;
    transition: 0.33s;
    pre{
        font-family: chi;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}

.right[data-isRightShow=true]{
    flex: 1;
    margin: 5px;
    padding: 10px;
    padding-right: 8px;
    // font-size: 14px;
    opacity: 1;
}
.right[data-isRightShow=false]{
    flex: 1;
    margin: 0;
    padding: 0;
    padding-right: 0;
    // font-size: 0;
    opacity: 0;
}


.container {
    @include commonStyle(relative, 100%, 320px);
}

.quit {
    @include commonStyle(absolute, 35px, 35px);
    right: -18px;
    top: -18px;
    cursor: pointer;
    z-index: 2;
    background-color: fade-out(black,0.5);
    color: white;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    border-radius: 50%;
    border: 4px double fade-out(black,0.5);

    &:hover {
        background-color: white;
        color: black;
    }
}

.move {
    @include commonStyle(absolute, 30px, 30px);
    left: -10px;
    top: -10px;
    cursor: move;
    z-index: 12;
    background-color: fade-out(black,0.9);
    color: white;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    border-radius: 50%;
    border: 4px double fade-out(black,0.8);

    &:hover {
        background-color: white;
        color: black;
    }

    text-align: center;
}

.aided{
    @include commonStyle(absolute, 75px, 155%);
    background-color: #353b48;
    opacity: 0.5;
    left:-86.5px;
    top: 0;
    z-index: 10;
    overflow: hidden;
    transition: 0.33s;
    &:hover{
        overflow: auto;
        opacity: 1;
    }
    >div{
        @include commonStyle(relative, 59.5px, 59.5px);
        left: 5px;
        margin-left: 1px;
        margin-right: 5px;
        border: 2px solid #a1b7d3;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: 0.33s;
        text-align: center;
        line-height: 500%;
        font-size: 10px;
        cursor: default;
        &:hover{
            border: 2px dotted #778beb;
        }
    }
}
.contain{
    @include commonStyle(absolute,700px,auto);
    display: grid;
    top: 35px;
    left: 12.5px;
    padding-bottom: 12.5px;
    overflow: auto;
    overflow-x: hidden;
    grid-template-columns: repeat(5,59.3px);
}
@for $i from 1 through 50{
.contain[data-size='#{$i}']{
    grid-template-rows: repeat($i,59.3px);
}
}
.grid{
    background-color: fade-out(slategray,0.9);
    border: 1px solid fade-out(white,0.8);
    img{
        @include commonStyle(relative,100%,100%);
    }
    text-indent:0;
}

$levelColor:white #0be881 #778beb #a55eea #EE5A24 #EA2027 #ff9ff3;

@for $i from 1 through 7{
    .body[data-level='#{$i}']{
        border: 6px double nth($levelColor,$i);
        box-shadow: 0px 0px 30px 5px nth($levelColor,$i);
    }
    .aided[data-level='#{$i}']{
        border: 6px double nth($levelColor,$i);
        border-right: none;
        box-shadow: -20px 0px 50px 1px nth($levelColor,$i);
    }
    .levelSpan[data-level='#{$i}']{
        color: white;
        -webkit-text-stroke:2px fade-out(nth($levelColor,$i), 0.4);
    }
}


@include keyframes(scale-in-ver-center){
    0% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
        opacity: 1;
      }
      100% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
        opacity: 1;
      }
    }