@import '../../commonScss/common.scss';

.text{
    @include commonStyle(absolute,#{(4*59.5)}px,#{(2*59.5)}px);
    border: 1px dotted whitesmoke;
    background-color: seagreen;
    background-color: fade-out(seagreen,0.4);
    z-index: 90;
}