@import '../../commonScss/common.scss';

.loading{
    @include commonStyle(absolute,100%,100%);
    background-color: rgba(0, 0, 0, 0.33);
}
.common{
    @include commonStyle(absolute,10vw,10vw);
    @include commonLocation(0,0,0,0);
    box-shadow: -2px 2px 55px 5px white;
    margin: auto;
}
.outerL{
    border: 3px solid whitesmoke;
    animation: outerLFrame 5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both infinite;
}

.outerV{
    border: 3px solid whitesmoke;
    transform: rotateZ(45deg);
    animation: outerVFrame 7s cubic-bezier(0.680, -0.550, 0.265, 1.550) both infinite;
}
.innerR{
    @include commonStyle(absolute,2vw,2vw);
    @include commonLocation(0,0,0,0);
    box-shadow: 20px 20px 8px 1px red;
    margin: auto;
    border-radius: 50%;
    animation: innerRFrame 6s cubic-bezier(0.680, -0.550, 0.265, 1.550) both infinite;
}
.innerB{
    @include commonStyle(absolute,2vw,2vw);
    @include commonLocation(0,0,0,0);
    box-shadow: -20px -20px 8px 1px springgreen;
    margin: auto;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0);
    animation: innerBFrame 8s cubic-bezier(0.680, -0.550, 0.265, 1.550) both infinite;
}

.text{
    @include commonStyle(absolute,200px,10px);
    @include commonLocation(0,0,0,0);
    text-align: center;
    margin: auto;
    color: whitesmoke;
    font-weight: bolder;
    padding-top: 250px;
    padding-left: 10px;
    font-size: $gfontSize_norm;
    text-shadow:4px 4px 4px $gblack;
    animation: focus-in-expand 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite alternate-reverse both;
}


@include keyframes(outerLFrame){
    0%{
        transform: rotateZ(0deg);
    }
    16%{
        transform: rotateZ(108deg);
    }
    40%{
        transform: rotateZ(253deg);
    }
    55%{
        transform: rotateZ(388deg);
    }
    73%{
        transform: rotateZ(444deg);
    }
    100%{
        transform: rotateZ(540deg);
    }
}
@include keyframes(outerVFrame){
    0%{
        transform: rotateZ(45deg);
    }
    22%{
        transform: rotateZ(-122deg);
    }
    39%{
        transform: rotateZ(-244deg);
    }
    61%{
        transform: rotateZ(-388deg);
    }
    77%{
        transform: rotateZ(-456deg);
    }
    100%{
        transform: rotateZ(-585deg);
    }
}
@include keyframes(innerBFrame){
    0%{
        transform: rotateZ(0deg);
    }
    10%{
        transform: rotateZ(-155deg);
    }
    24%{
        transform: rotateZ(-222deg);
    }
    56%{
        transform: rotateZ(355deg);
    }
    70%{
        transform: rotateZ(-499deg);
    }
    100%{
        transform: rotateZ(0);
    }
}
@include keyframes(innerRFrame){
    0%{
        transform: rotateZ(0deg);
        background-color: whitesmoke;
        border: 5px double black;
    }
    14%{
        transform: rotateZ(666deg);
        background-color: black;
        border: 3px dashed whitesmoke;
    }
    30%{
        transform: rotateZ(777deg);
        background-color: whitesmoke;
        border: 5px double red;
    }
    48%{
        transform: rotateZ(999deg);
        background-color: red;
        border: 3px dashed black;
    }
    68%{
        transform: rotateZ(1100deg);
        background-color: black;
        border: 5px double whitesmoke;
    }
    100%{
        transform: rotateZ(0);
        background-color: whitesmoke;
        border: 3px dotted black;
    }
}
@include keyframes(focus-in-expand){
    0%{
        letter-spacing: 0.1em;
    }
    40% {
        letter-spacing: -0.05em;
      }
    60% {
        letter-spacing: 0.1em;
    }
    100%{
        letter-spacing: -0.05em;
    }
  }
  