@import '../../commonScss/common.scss';
@font-face {
    font-family: shadows;
    src: url('../../../public/font/Nosifer.ttf');
}
@include scrollbar;
//https://flatuicolors.com/palette/tr
$bacColor:#3d3d3d;
$hoverColor:#4b4b4b;
$secColor:fade-out($hoverColor,0.88);
$boxColor:slategray;
$boxHColor:slateblue;
.body{
    @include commonStyle(relative,100%,100%);
    background-color: $bacColor;
}
.title{
    @include commonStyle(relative,100%,8vh);
    width: 100%;
    text-align: center;
    line-height: 200%;
    letter-spacing: 20px;
    @include myFont(shadows,$gfontSize_max,bolder,whitesmoke);
    text-shadow: 8px 8px 4px black;
}

.main{
    @include commonStyle(relative,100%,92vh);
    display: flex;
    flex-flow: row nowrap;
    flex: 10;
    justify-content: space-around;
    overflow: auto;
}


@mixin leftRightSame{
    background-color: $secColor;
    margin: 2vh;
    border-radius: 15px;
    transition: 0.33s;
    box-shadow: 0px 0px 15px 4px fade-out($color: black, $amount: 0.33);
    &:hover{
        background-color: $hoverColor;
    }
}




.left{
    @include commonStyle(relative,auto,85vh);
    min-width: 500px;
    min-height: 630px;
    @include leftRightSame;
    background-color: rgba(48, 48, 48, 1);
    &:hover{
        background-color:rgba(48, 48, 48, 1);
    }
    img{
        @include commonStyle(relative,100%,100%);
        object-fit: cover;
    }
}
.division{
    @include commonStyle(absolute,100%,100%);
    z-index: 2;
    > div{
        @include commonStyle(relative,auto,auto);
        color: rgba(255, 255, 255, 0.5);
        margin-top: 5px;
        margin-bottom: 5px;
        // border: 1px solid saddlebrown;
    }
    > :nth-of-type(1){
        width: 100%;
        height: 2%;
    }
    > :nth-of-type(2){
        width: 100%;
        height: 13%;
        > :nth-child(1){
            @include commonStyle(relative,60px,60px);
        }
        > :nth-child(2){
            left: 25%;
        }
        > :nth-child(3){
            @include commonStyle(relative,60px,60px);
            left: 50%;
        }
    }
    > :nth-of-type(3){
        width: 100%;
        height: 13%;
    }
    > :nth-of-type(4){
        width: 100%;
        height: 13%;
        > :nth-child(1){
            @include commonStyle(relative,240px,180px);
            left: 25%;
            top: -50%;
        }
    }
    > :nth-of-type(5){
        width: 100%;
        height: 13%;
        top: -8%;
        > :nth-child(2){
            left: 50%;
        }
    }
    > :nth-of-type(6){
        width: 100%;
        height: 13%;
        top: -2.5%;
        > :nth-child(1){
            @include commonStyle(relative,120px,180px);
            left: 24%;
        }
        > :nth-child(2){
            @include commonStyle(relative,120px,180px);
            left: 26%;
        }
    }
    > :nth-of-type(7){
        width: 100%;
        height: 13%;
    }
    > :nth-of-type(8){
        width: 100%;
        height: 10%;
        > :nth-child(1){
            top: -15%;
            @include commonStyle(relative,120px,120px);
            left: 24%;
        }
        > :nth-child(2){
            top: -15%;
            @include commonStyle(relative,120px,120px);
            left: 26%;
        }
    }
}
.equment{
    @include commonStyle(relative,120px,120px);
    background-color: fade-out($boxColor, 0.77);
    display: inline-block;
    border: 1px $boxColor solid;
    transition: 0.22s;
    text-align: center;
    // margin: 5px;
    overflow: hidden;
    &:hover{
        background-color: fade-out($boxHColor, 0.77);
        border: 1px $boxHColor dashed;
    }
    // >div{
    //     @include commonStyle(relative,120px,120px);
    //     >img{
    //         @include commonStyle(relative,120px,120px);
    //     }
    // }
}

.mid{
    @include commonStyle(relative,300px,85vh);
    min-width: 300px;
    min-height: 630px;
    @include leftRightSame;
    overflow-y: auto;
    color: white;
     > div{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        left: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 2px solid $boxColor;
        background-color: fade-out($boxColor, 0.77);
        transition: 0.22s;
        overflow-y: hidden;
        &:hover{
            border: 2px solid $boxHColor;
            background-color: fade-out($boxHColor, 0.77);
            overflow-y: auto;
        }
     }
     > :nth-of-type(1){
        @include commonStyle(relative,90%,200px);
        > span{
            font-size:18px;
            font-weight: 1000;
            margin:8px;
            transition: 0.22s;
            padding-left: 2px;
            padding-right: 2px;
            cursor: default;
            &:hover{
                color: black;
                background-color: snow;
            }
        }
     }
     > :nth-of-type(2){
        @include commonStyle(relative,90%,150px);
        color: fade-out(darkgray,0.5);
        overflow: hidden;
        font-weight: 100;
        &:hover{
            overflow: hidden;
        }
     }
     > :nth-of-type(3){
        @include commonStyle(relative,90%,150px);
        color: fade-out(darkgray,0.5);
        overflow: hidden;
        font-weight: 100;
        &:hover{
            overflow: hidden;
        }
     }
     > :nth-of-type(4){
        @include commonStyle(relative,90%,510px);
        color: fade-out(darkgray,0.5);
        font-weight: 100;
        overflow: hidden;
        &:hover{
            overflow: hidden;
        }
     }
     > :nth-of-type(5){
        @include commonStyle(relative,90%,280px);
        color: fade-out(darkgray,0.5);
        font-weight: 100;
     }
     > :nth-of-type(6){
        @include commonStyle(relative,90%,280px);
        color: fade-out(darkgray,0.5);
        font-weight: 100;
        overflow: hidden;
        &:hover{
            overflow: hidden;
        }
     }
}
.hasprocess{
    @include commonStyle(absolute,60px,10px);
    // bottom: 1px;
    display: inline-block;
    background-color: palevioletred;
    z-index: 2;
    text-align: center;
    font-size: 1px;
    font-weight: 100;
    transition: 0.22s;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.allprocess{
    @include commonStyle(absolute,100px,10px);
    border: 1px solid snow;
    padding-left: 0;
    display: inline-block;
    background-color: darkgray;
    transition: 0.22s;
    &:hover{
        .hasprocess{
            background-color: slateblue;
            color: lightskyblue;
        }
    }
}
.optation{
    @include commonStyle(absolute,300px,85px);
    right: 0;
    top: 0;
    button{
        @include commonStyle(relative,75px,35px);
        top: 40px;
        margin: 2.5px;
        border: none;
        border-radius: 15px;
        background-color: #706f6f;
        color: whitesmoke;
        transition: 0.22s;
        &:hover{
            cursor: pointer;
            background-color: whitesmoke;
            color: black;
        }
    }
}




.right{
    @include commonStyle(relative,720px,85vh);
    min-width: 720px;
    @include leftRightSame;
    border-radius: 0;
    overflow-x: hidden;
    overflow-y: auto;
    // background-color: crimson
}

.contain{
    @include commonStyle(absolute,720px,auto);
    min-height: 630px;
    display: grid;
    grid-template-columns: repeat(12,59.3px);
    grid-template-rows: repeat(60,59.3px);
}

.walletContain{
    @include commonStyle(absolute,90%,100%);
    left: 5%;
    display: grid;
    grid-template-columns: repeat(4,59.3px);
    grid-template-rows: repeat(8,59.3px);
}
.insuranceContain{
    @include commonStyle(absolute,90%,100%);
    left: 5%;
    display: grid;
    grid-template-columns: repeat(4,59.3px);
    grid-template-rows: repeat(4,59.3px);
}
.weaponContaion{
    @include commonStyle(absolute,90%,80%);
    left: 5%;
    border: 1px dotted orange;
    >div{
        @include commonStyle(absolute,100%,100%);
    }
}
.backpack{
    @include commonStyle(absolute,240px,240px);
    left: 12.5px;
    top: 30px;
    >div{
        @include commonStyle(absolute,100%,100%);
    }
}


.grid[data-place=true]{
    background-color: fade-out(slategray,0.9);
    border: 1px solid fade-out(white,0.8);
}
.grid[data-place=false]{
    background-color: fade-out(crimson,0.66);
    border: 1px solid fade-out(crimson,0.2);
}


.text{
    border: 1px dotted whitesmoke;
    background-color: seagreen;
    background-color: fade-out(seagreen,0.4);
    @include commonStyle(absolute,#{(4*59.5)}px,#{(2*59.5)}px);
}