@import '../../commonScss/common.scss';
.body{
    @include commonStyle(absolute,70px,auto);
    border: 2px solid black;
    z-index: 200;
    button{
        @include commonStyle(relative,100%,30px);
        border: none;
        background-color: none;
        transition: 0.22s;
        &:hover{
            cursor: pointer;
            background-color: black;
            color: whitesmoke;
        }
    }
}

.body[data-isshow=true]{
    display: block;
    
}
.body[data-isshow=false]{
    display: none;
}


.reverse{
    &:hover{
        background-color: crimson !important;
        border:2px solid crimson !important;
    }
}

